@forward 'globals';

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 5em 0 5em;
}

.nav-menu__item {
  list-style-type: none;
  display: flex;
}

.nav-menu__links {
  padding: 0 1em 0 1em;
  display: block;
}

.nav-menu__hamburger {
  position: absolute;
  top: 3.4em;
  right: 2em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

@media (max-width: 400px) {
  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 2em 0 2em
  }

  .nav-menu__hamburger {
    display: flex;
  }

  .nav-menu__item {
    display: none;
  }

  .nav-menu__links {
    text-align: center;
    width: 100%;
    display: inline-block;
    flex-direction: column;
  }

}


// Deals Table
.deals-table {
  padding: 5em 5em 0 5em;
}

.deals-table__menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.deals-table__menu-mobile {
  display: none;
}

.deals-table__menu-item {
  list-style-type: none;
  display: inline-block;
}

.deals-table__menu-links {
  padding: 0 1em 0 1em;
  display: block;
}

.deals-table__content {
  width: 100%;
  overflow: auto;
}

.deals-table__content-user-image {
  width: 80px;
  height: auto;
  clip-path: circle(20%);
  -webkit-clip-path: circle(20%);
}

@media (max-width: 820px) {
  .nav-menu {
    padding: 2em 2em 0 2em;
  }

  .deals-table {
    padding: 2em 2em 0 2em;
    overflow: auto;
  }
}

@media (max-width: 400px) {
  .deals-table {
    padding: 0 1em 0 0;
    overflow: auto;
  }

  .deals-table__menu {
    display: none;
  }

  .deals-table__menu-mobile {
    display: flex;
    align-items: center;
  }

  .deals-table__menu-item {
    width: 50px;
  }

  .deals-table__content-user-image {
    width: 100%;
    height: auto;
  }
}


// Footer Table
.footer {
  padding: 5em 5em 0 5em;
}