:root {
    --dark-grey-color: #303133;
    --mid-grey-color: #505676;
    ---mid-light-grey-color: #BDBEC2;
    --light-grey-color: #F4F5F7;
    --white-color: #fff;


    /* Stage colors */
    --dark-green-color: #047243;
    --mid-blue-color: #007BB7;
    --purple-color: #6B43C8;
    --light-green-color: #04B767;

    /* Priority colors */
    --red-color: #FD582A;
    --light-blue-color: #5CC5FF;

}

//Tables
table {
    color: var(--mid-grey-color);
    background-color: var(--light-grey-color);
    border-color: var(--white-color);
}

.tab-text {
    color: var(--white-color);
}

.tab-color {
    background-color: var(--light-grey-color);
}


// Deals Table
.deals-table {

    &__content-title,
    &__content-deal-tab {
        color: var(--dark-green-color)
    }
}