:root {
    --dark-grey-color: #303133;
    --mid-grey-color: #505676;
    ---mid-light-grey-color: #BDBEC2;
    --light-grey-color: #F4F5F7;
    --white-color: #fff;


    /* Stage colors */
    --proposal-color: #047243;
    --lead-color: #007BB7;
    --negotiation-color: #6B43C8;
    --won-color: #04B767;

    /* Priority colors */
    --high-color: #FD582A;
    --low-color: #5CC5FF;

}