h1, h2, h3, h4, h5, h6, th {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-weight: 500;
    margin-top: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #505676;
}

a, a:visited, a:active {
    text-decoration: none;
    color: var(--dark-grey-color);
}

a:hover {
    color: var(--mid-grey-color)
}